@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #1F2E35;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0.5rem;
}

.input {
  border-radius: 0.3125rem;
  width: 100%;
  display: block;
  padding: 0px 20px;
  height: 100%;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 18px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  margin: 1.75rem 1.75rem;
}

.rating.rating_sending {
  opacity: 0.5;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  background: #02897A;
  border-radius: 4px;
  padding: 0.625rem 1.5625rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.button:hover {
  background: #fff;
  color: #02897A;
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.1875rem #02897A;
          box-shadow: 0rem 0rem 0.3125rem 0.1875rem #02897A;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__logo img {
  height: 2.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.menu__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #02897A;
}

.menu__link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
}

.menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.menu__button_in {
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  padding: 0.625rem 1.5625rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.menu__button_in:hover {
  background: #02897A;
  border-radius: 4px;
  padding: 0.625rem 1.5625rem;
}

.menu__button_in:hover:hover {
  background: #fff;
  color: #02897A;
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.1875rem #02897A;
          box-shadow: 0rem 0rem 0.3125rem 0.1875rem #02897A;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25%;
}

.footer__column a {
  font-weight: 300;
  font-size: 1rem;
  line-height: 219%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.footer__column a:hover {
  color: #02897A;
}

.footer__logo {
  margin-bottom: 1.5625rem;
}

.footer__logo h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer__social-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-icon:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  margin-bottom: 0.5rem;
}

.footer__input {
  border-radius: 0 !important;
  height: 3rem;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
}

.footer__button {
  max-width: 9.375rem;
}

.footer__copytight {
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-top: 2.5rem;
}

.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.work__content {
  width: 45%;
}

.work__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 150%;
}

.work__text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 156%;
}

.work__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.work__button_play {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  color: #02897A;
  text-decoration-line: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5625rem;
  padding: 0.625rem 1.5625rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.work__button_play:hover {
  background: #02897A;
  border-radius: 4px;
  padding: 0.625rem 1.5625rem;
}

.work__button_play:hover:hover {
  background: #fff;
  color: #02897A;
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.1875rem #02897A;
          box-shadow: 0rem 0rem 0.3125rem 0.1875rem #02897A;
}

.work__button_play::before {
  content: url(../img/Work/play.svg);
  top: 0;
  left: 0;
}

.work__image-ibg {
  width: 55%;
  z-index: -2;
}

.built {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.35%, #22343D), color-stop(99.63%, rgba(67, 67, 67, 0.0001)));
  background: -o-linear-gradient(bottom, #22343D 0.35%, rgba(67, 67, 67, 0.0001) 99.63%);
  background: linear-gradient(0deg, #22343D 0.35%, rgba(67, 67, 67, 0.0001) 99.63%);
  border-bottom-right-radius: 150% 60%;
  border-bottom-left-radius: 150% 60%;
  overflow: hidden;
}

.built__title {
  max-width: 32.5rem;
}

.built__title h3 {
  text-align: center;
}

.content-box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-box__item {
  max-width: 15rem;
}

.item-content__title {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 150%;
}

.item-content__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 162%;
  /* or 162% */
}

.management__container,
.collaborative__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.management__content,
.collaborative__content {
  max-width: 40%;
}

.management__image-ibg,
.collaborative__image-ibg {
  width: 50%;
}

.management__image-ibg img,
.collaborative__image-ibg img {
  padding: 0rem 1.25rem;
}

.collaborative__container {
  margin-bottom: 1.875rem;
}

.content-management h4,
.content-collaborative h4 {
  font-weight: 400;
  line-height: 150%;
}

.content-management h2,
.content-collaborative h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
}

.content-management p,
.content-collaborative p {
  font-weight: 300;
  line-height: 130%;
}

.content-management__block-text h5,
.content-collaborative__block-text h5 {
  font-weight: 500;
  line-height: 162%;
  margin-bottom: 0.75rem;
}

.content-management__block-text p,
.content-collaborative__block-text p {
  font-weight: 300;
  line-height: 162%;
}

.support__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.375rem;
}

.support__image-ibg {
  width: 50%;
}

.support__content {
  width: 50%;
}

.support__content h4 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
}

.support__content h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
}

.support__content p {
  max-width: 21.875rem;
  line-height: 162%;
}

.content-support__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__marker {
  margin-right: 1.875rem;
}

.item__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  max-width: 24.0625rem;
}

.quick {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.35%, #22343D), color-stop(99.63%, rgba(67, 67, 67, 0.0001)));
  background: -o-linear-gradient(top, #22343D 0.35%, rgba(67, 67, 67, 0.0001) 99.63%);
  background: linear-gradient(180deg, #22343D 0.35%, rgba(67, 67, 67, 0.0001) 99.63%);
  border-top-right-radius: 150% 60%;
  border-top-left-radius: 150% 60%;
}

.quick__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.quick__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 1.125rem;
}

.quick__sub-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  margin-bottom: 2rem;
  max-width: 33.875rem;
  text-align: center;
}

.quick__block-executor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3rem;
  gap: 1.5rem;
}

.quick__button {
  margin-bottom: 5px;
}

.executor__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.executor__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  width: 100%;
}

.executor__avatar-ibg {
  width: 6.125rem;
  height: 6.125rem;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.executor__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: #2F281E;
  background: #fff;
  display: inline-block;
  padding: 0.625rem 1.5625rem;
  border-radius: 1.5625rem;
  position: relative;
}

.executor__text::before {
  content: "";
  top: 3.4375rem;
  left: 0.625rem;
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  position: absolute;
  background: #fff;
}

.executor__text::after {
  content: "";
  top: 2.1875rem;
  left: 1.375rem;
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
  position: absolute;
  background: #fff;
}

.executor__text_right::before {
  top: 3.4375rem;
  left: 92%;
}

.executor__text_right::after {
  top: 2.1875rem;
  left: 83%;
}

.strategies__title {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 150%;
  margin-bottom: 0.5rem;
}

.strategies__sub-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 162%;
  margin-bottom: 2.0625rem;
}

.strategies__block-cards {
  margin-bottom: 3.9375rem;
}

.block-cards {
  color: #22343D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.block-cards__item {
  border-radius: 0.5rem;
  background: #FFFFFF;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.block-cards__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.block-cards__author {
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.block-cards__author span {
  font-weight: 600;
}

.block-cards__title {
  margin-left: 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 167%;
  padding-bottom: 2.5rem;
  margin-right: 1.5rem;
  max-width: 18.375rem;
}

.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  width: 68px;
  margin: 0 auto;
}

.points__point {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
}

.points__point_secondColor {
  background-color: #02897A;
}

.price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__title {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 150%;
  margin-bottom: 0.5rem;
}

.price__sub-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 2.1875rem;
}

.price__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20.125rem;
  border-radius: 0.5rem;
  background: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.card:hover {
  background: #02897A;
}

.card:hover .card__title,
.card:hover .card__sub-title,
.card:hover .card__price,
.card:hover .card__text,
.card:hover .card-price__price,
.card:hover .card-price__currency,
.card:hover .card-price__period {
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.card:hover .card__button {
  background: #fff;
  color: #02897A;
}

.card__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 167%;
  color: #22343D;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.card__sub-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 250%;
  color: #22343D;
  margin-bottom: 1rem;
}

.card__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 138%;
  letter-spacing: 0.2px;
  margin-bottom: 1rem;
  color: #22343D;
}

.card__button {
  width: 8.6875rem;
  height: 2.75rem;
  margin-top: 2.375rem;
  margin-bottom: 2rem;
}

.card__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card__title,
.card__sub-title,
.card__price,
.card__text,
.card-price__price,
.card-price__currency,
.card-price__period {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-price__price {
  font-weight: 700;
  font-size: 4.75rem;
  line-height: 132%;
  color: #02897A;
}

.card-price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4375rem;
}

.card-price__currency {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 125%;
  color: #02897A;
}

.card-price__period {
  font-weight: 400;
  font-size: 1rem;
  line-height: 119%;
  letter-spacing: 0.1px;
  color: #AFAFAF;
}

.say__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.say__title {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 168%;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.say__sub-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.2px;
  max-width: 33.5625rem;
  margin-bottom: 3.125rem;
}

.say__rating-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.rating__card {
  background: #fff;
  border-radius: 5px;
  max-width: 20.4375rem;
}

.rating__says {
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: #737373;
  width: 17.1875rem;
  padding: 0 1.625rem;
  margin-bottom: 1rem;
}

.rating__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.625rem;
}

.rating-author__avatar-ibg {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.rating-author__name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.4375rem;
  margin-left: 0.875rem;
}

.rating-author__name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #02897A;
}

.rating-author__position {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #252B42;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__box {
  background: #02897A;
  max-width: 60.5rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join__content {
  width: 60%;
}

.join__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #FFFFFF;
  padding-left: 3.125rem;
  padding-top: 3.125rem;
  padding-bottom: 3.75rem;
}

.join__button {
  margin-left: 3.125rem;
  background: #fff;
  border-radius: 4px;
  padding: 0.625rem 1.5625rem;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  color: #02897A;
  margin-bottom: 3.125rem;
}

.join__button:hover {
  background: #02897A;
  color: #fff;
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.1875rem #fff;
          box-shadow: 0rem 0rem 0.3125rem 0.1875rem #fff;
}

.join__image-ibg {
  width: 40%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 71.25em) {
  .header {
    margin-top: 1.25rem;
  }

  .work__container {
    margin-top: 1.875rem;
  }

  .work__container {
    margin-bottom: 9.375rem;
  }

  .work__content {
    padding-top: 8.25rem;
  }

  .work__title {
    padding-bottom: 1.125rem;
  }

  .work__text {
    padding-bottom: 2.8125rem;
  }

  .built {
    margin-bottom: 10.625rem;
  }

  .built__title {
    margin-bottom: 4.125rem;
  }

  .built__button {
    margin-bottom: 5.625rem;
  }

  .content-box__list {
    margin-bottom: 2.1875rem;
  }

  .content-box__list {
    gap: 3.125rem;
  }

  .item-content__icon {
    margin-bottom: 1.875rem;
  }

  .item-content__title {
    margin-bottom: 0.8125rem;
  }

  .management__container,
  .collaborative__container {
    margin-bottom: 9.375rem;
  }

  .content-management h4,
  .content-collaborative h4 {
    margin-bottom: 0.5rem;
  }

  .content-management h2,
  .content-collaborative h2 {
    margin-bottom: 1.4375rem;
  }

  .content-management p,
  .content-collaborative p {
    margin-bottom: 1.875rem;
  }

  .content-management__block-text,
  .content-collaborative__block-text {
    margin-bottom: 1.5625rem;
  }

  .support__container {
    margin-bottom: 9.375rem;
  }

  .support__content h2 {
    margin-bottom: 1.4375rem;
  }

  .support__content p {
    margin-bottom: 1.875rem;
  }

  .quick {
    padding-top: 8.75rem;
  }

  .quick__container {
    margin-bottom: 9.375rem;
  }

  .strategies {
    margin-bottom: 10.625rem;
  }

  .price {
    margin-bottom: 9.375rem;
  }

  .say {
    margin-bottom: 9.375rem;
  }

  .join {
    margin-bottom: 9.375rem;
  }
}

@media (max-width: 880px) {
  .rating__card {
    max-width: 15rem;
  }

  .rating__says {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
    max-width: 100%;
    padding: 0 1rem;
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 580px) {
  .header__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__button {
    padding: 0.3125rem 0.9375rem;
  }

  .menu__button_in {
    padding: 0.3125rem 0.9375rem;
  }
}

@media (max-width: 560px) {
  .built {
    border-bottom-right-radius: 50% 8%;
    border-bottom-left-radius: 50% 8%;
  }

  .quick {
    border-bottom-right-radius: 50% 8%;
    border-bottom-left-radius: 50% 8%;
  }
}

@media (max-width: 540px) {
  .menu__button {
    padding: 0.9375rem 1.875rem;
  }

  .menu__button_in {
    padding: 0.9375rem 1.875rem;
  }
}

@media (max-width: 530px) {
  .content-box__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-content__text {
    text-align: center;
  }
}

@media (max-width: 20em) {
  .header {
    margin-top: 0.625rem;
  }

  .work__container {
    margin-top: 0.625rem;
  }

  .work__container {
    margin-bottom: 3.125rem;
  }

  .work__content {
    padding-top: 2.5rem;
  }

  .work__title {
    padding-bottom: 0.625rem;
  }

  .work__text {
    padding-bottom: 1.875rem;
  }

  .built {
    margin-bottom: 1.25rem;
  }

  .built__title {
    margin-bottom: 1.875rem;
  }

  .built__button {
    margin-bottom: 3.125rem;
  }

  .content-box__list {
    margin-bottom: 1.875rem;
  }

  .content-box__list {
    gap: 0.625rem;
  }

  .item-content__icon {
    margin-bottom: 0.9375rem;
  }

  .item-content__title {
    margin-bottom: 0.5rem;
  }

  .management__container,
  .collaborative__container {
    margin-bottom: 3.125rem;
  }

  .content-management h4,
  .content-collaborative h4 {
    margin-bottom: 0.3125rem;
  }

  .content-management h2,
  .content-collaborative h2 {
    margin-bottom: 0.625rem;
  }

  .content-management p,
  .content-collaborative p {
    margin-bottom: 0.9375rem;
  }

  .content-management__block-text,
  .content-collaborative__block-text {
    margin-bottom: 0.625rem;
  }

  .support__container {
    margin-bottom: 3.125rem;
  }

  .support__content h2 {
    margin-bottom: 0.625rem;
  }

  .support__content p {
    margin-bottom: 1.5625rem;
  }

  .quick {
    padding-top: 3.125rem;
  }

  .quick__container {
    margin-bottom: 3.125rem;
  }

  .strategies {
    margin-bottom: 3.125rem;
  }

  .price {
    margin-bottom: 3.125rem;
  }

  .say {
    margin-bottom: 3.125rem;
  }

  .join {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 71.25em) {
  .quick__block-executor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .executor__column_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    overflow: auto;
    background-color: #263238;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
    background-color: #1f292e;
    z-index: 2;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
  }

  .menu__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .menu__list {
    gap: 1.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.75rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .management__container,
  .collaborative__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.125rem;
  }

  .management__content,
  .collaborative__content {
    max-width: 100%;
    padding: 0rem 1.25rem;
  }

  .management__image-ibg,
  .collaborative__image-ibg {
    width: 100%;
    height: 25rem;
  }

  .support__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .support__image-ibg {
    width: 100%;
    height: 25rem;
  }

  .support__content {
    width: 100%;
    padding: 0 0.9375rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 0.125em) {
  .menu__body {
    padding-top: 3.125rem;
  }

  .menu__body::before {
    height: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .support__image-ibg {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .work__title {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 120%;
  }

  .work__text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 140%;
  }

  .work__button {
    padding: 0.3125rem 0.9375rem;
    font-size: 0.75rem;
  }

  .executor__avatar-ibg {
    width: 4.6875rem;
    height: 4.6875rem;
  }

  .executor__text {
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 150%;
  }

  .block-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .price__content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card__title {
    margin-bottom: 0rem;
    margin-top: 0.75rem;
  }

  .card-price__price {
    font-size: 3.125rem;
  }

  .say__rating-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }

  .rating__card {
    width: 100%;
  }

  .join__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 140.4%;
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 40.625em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 1.5625rem;
  }

  .footer__column {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 37.8125em) {
  .join__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120.4%;
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .work__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .work__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .work__title {
    text-align: center;
  }

  .work__text {
    text-align: center;
  }

  .work__button {
    font-size: 1rem;
    padding: 0.9375rem 1.5625rem;
  }

  .work__button_play {
    font-size: 1rem;
  }

  .work__image-ibg {
    width: 100%;
    height: 25rem;
  }

  .card {
    width: 18.125rem;
  }

  .card__sub-title {
    margin-bottom: 0rem;
  }

  .card__text {
    margin-bottom: 0.625rem;
  }

  .card__button {
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
  }

  .join__title {
    padding-left: 1.875rem;
    padding-top: 1.875rem;
  }

  .join__button {
    margin-bottom: 2.5rem;
    margin-left: 1.875rem;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (margin-top: clamp( 0.625rem , 0.381097561rem  +  1.2195121951vw , 1.25rem )) {
    .header {
      margin-top: clamp( 0.625rem , 0.381097561rem  +  1.2195121951vw , 1.25rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , 0.381097561rem  +  1.2195121951vw , 1.25rem )) {
    .header {
      margin-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-top: clamp( 0.625rem , 0.137195122rem  +  2.4390243902vw , 1.875rem )) {
    .work__container {
      margin-top: clamp( 0.625rem , 0.137195122rem  +  2.4390243902vw , 1.875rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , 0.137195122rem  +  2.4390243902vw , 1.875rem )) {
    .work__container {
      margin-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .work__container {
      margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .work__container {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.256097561rem  +  11.2195121951vw , 8.25rem )) {
    .work__content {
      padding-top: clamp( 2.5rem , 0.256097561rem  +  11.2195121951vw , 8.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.256097561rem  +  11.2195121951vw , 8.25rem )) {
    .work__content {
      padding-top: calc(2.5rem + 5.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4298780488rem  +  0.9756097561vw , 1.125rem )) {
    .work__title {
      padding-bottom: clamp( 0.625rem , 0.4298780488rem  +  0.9756097561vw , 1.125rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4298780488rem  +  0.9756097561vw , 1.125rem )) {
    .work__title {
      padding-bottom: calc(0.625rem + 0.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem )) {
    .work__text {
      padding-bottom: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem )) {
    .work__text {
      padding-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -2.4085365854rem  +  18.2926829268vw , 10.625rem )) {
    .built {
      margin-bottom: clamp( 1.25rem , -2.4085365854rem  +  18.2926829268vw , 10.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.4085365854rem  +  18.2926829268vw , 10.625rem )) {
    .built {
      margin-bottom: calc(1.25rem + 9.375 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.9969512195rem  +  4.3902439024vw , 4.125rem )) {
    .built__title {
      margin-bottom: clamp( 1.875rem , 0.9969512195rem  +  4.3902439024vw , 4.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.9969512195rem  +  4.3902439024vw , 4.125rem )) {
    .built__title {
      margin-bottom: calc(1.875rem + 2.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.1493902439rem  +  4.8780487805vw , 5.625rem )) {
    .built__button {
      margin-bottom: clamp( 3.125rem , 2.1493902439rem  +  4.8780487805vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.1493902439rem  +  4.8780487805vw , 5.625rem )) {
    .built__button {
      margin-bottom: calc(3.125rem + 2.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.7530487805rem  +  0.6097560976vw , 2.1875rem )) {
    .content-box__list {
      margin-bottom: clamp( 1.875rem , 1.7530487805rem  +  0.6097560976vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.7530487805rem  +  0.6097560976vw , 2.1875rem )) {
    .content-box__list {
      margin-bottom: calc(1.875rem + 0.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 0.625rem , -0.3506097561rem  +  4.8780487805vw , 3.125rem )) {
    .content-box__list {
      gap: clamp( 0.625rem , -0.3506097561rem  +  4.8780487805vw , 3.125rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.3506097561rem  +  4.8780487805vw , 3.125rem )) {
    .content-box__list {
      gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .item-content__icon {
      margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .item-content__icon {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 0.3780487805rem  +  0.6097560976vw , 0.8125rem )) {
    .item-content__title {
      margin-bottom: clamp( 0.5rem , 0.3780487805rem  +  0.6097560976vw , 0.8125rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.3780487805rem  +  0.6097560976vw , 0.8125rem )) {
    .item-content__title {
      margin-bottom: calc(0.5rem + 0.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .management__container,
    .collaborative__container {
      margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .management__container,
    .collaborative__container {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.2393292683rem  +  0.3658536585vw , 0.5rem )) {
    .content-management h4,
    .content-collaborative h4 {
      margin-bottom: clamp( 0.3125rem , 0.2393292683rem  +  0.3658536585vw , 0.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.2393292683rem  +  0.3658536585vw , 0.5rem )) {
    .content-management h4,
    .content-collaborative h4 {
      margin-bottom: calc(0.3125rem + 0.1875 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3079268293rem  +  1.5853658537vw , 1.4375rem )) {
    .content-management h2,
    .content-collaborative h2 {
      margin-bottom: clamp( 0.625rem , 0.3079268293rem  +  1.5853658537vw , 1.4375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3079268293rem  +  1.5853658537vw , 1.4375rem )) {
    .content-management h2,
    .content-collaborative h2 {
      margin-bottom: calc(0.625rem + 0.8125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .content-management p,
    .content-collaborative p {
      margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .content-management p,
    .content-collaborative p {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2591463415rem  +  1.8292682927vw , 1.5625rem )) {
    .content-management__block-text,
    .content-collaborative__block-text {
      margin-bottom: clamp( 0.625rem , 0.2591463415rem  +  1.8292682927vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2591463415rem  +  1.8292682927vw , 1.5625rem )) {
    .content-management__block-text,
    .content-collaborative__block-text {
      margin-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .support__container {
      margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .support__container {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3079268293rem  +  1.5853658537vw , 1.4375rem )) {
    .support__content h2 {
      margin-bottom: clamp( 0.625rem , 0.3079268293rem  +  1.5853658537vw , 1.4375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3079268293rem  +  1.5853658537vw , 1.4375rem )) {
    .support__content h2 {
      margin-bottom: calc(0.625rem + 0.8125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.4405487805rem  +  0.6097560976vw , 1.875rem )) {
    .support__content p {
      margin-bottom: clamp( 1.5625rem , 1.4405487805rem  +  0.6097560976vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.4405487805rem  +  0.6097560976vw , 1.875rem )) {
    .support__content p {
      margin-bottom: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.9298780488rem  +  10.9756097561vw , 8.75rem )) {
    .quick {
      padding-top: clamp( 3.125rem , 0.9298780488rem  +  10.9756097561vw , 8.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.9298780488rem  +  10.9756097561vw , 8.75rem )) {
    .quick {
      padding-top: calc(3.125rem + 5.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .quick__container {
      margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .quick__container {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.1981707317rem  +  14.6341463415vw , 10.625rem )) {
    .strategies {
      margin-bottom: clamp( 3.125rem , 0.1981707317rem  +  14.6341463415vw , 10.625rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.1981707317rem  +  14.6341463415vw , 10.625rem )) {
    .strategies {
      margin-bottom: calc(3.125rem + 7.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .price {
      margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .price {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .say {
      margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .say {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .join {
      margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.6859756098rem  +  12.1951219512vw , 9.375rem )) {
    .join {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 48em) {
  .menu__body {
    padding-top: 8.125rem;
  }

  .menu__body::before {
    height: 6.5625rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 0.125em) and (max-width: 48em) {
@supports (padding-top: clamp( 3.125rem , 3.1119451697rem  +  10.4438642298vw , 8.125rem )) {
    .menu__body {
      padding-top: clamp( 3.125rem , 3.1119451697rem  +  10.4438642298vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 3.1119451697rem  +  10.4438642298vw , 8.125rem )) {
    .menu__body {
      padding-top: calc(3.125rem + 5 * (100vw - 0.125rem) / 47.875);
    }
}

@supports (height: clamp( 3.125rem , 3.1160248042rem  +  7.180156658vw , 6.5625rem )) {
    .menu__body::before {
      height: clamp( 3.125rem , 3.1160248042rem  +  7.180156658vw , 6.5625rem );
    }
}

@supports not (height: clamp( 3.125rem , 3.1160248042rem  +  7.180156658vw , 6.5625rem )) {
    .menu__body::before {
      height: calc(3.125rem + 3.4375 * (100vw - 0.125rem) / 47.875);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 71.25em) {
  .support__image-ibg {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 71.25em) {
@supports (margin-bottom: clamp( 1.25rem , 0.5182926829rem  +  3.6585365854vw , 3.125rem )) {
    .support__image-ibg {
      margin-bottom: clamp( 1.25rem , 0.5182926829rem  +  3.6585365854vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5182926829rem  +  3.6585365854vw , 3.125rem )) {
    .support__image-ibg {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}
}